@font-face {
  font-family: Nunito-VariableFont_wght;
  src: url('../fonts/nunito/Nunito-VariableFont_wght.ttf');
}

@font-face {
  font-family: Nunito-Italic-VariableFont_wght;
  src: url('../fonts/nunito/Nunito-Italic-VariableFont_wght.ttf');
}
