@font-face {
  font-family: SourceSans3-VariableFont_wght;
  src: url('../fonts/source/SourceSans3-VariableFont_wght.ttf');
}

@font-face {
  font-family: SourceSans3-Italic-VariableFont_wght;
  src: url('../fonts/source/SourceSans3-Italic-VariableFont_wght.ttf');
}
